* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

                
.align-center {
    align-items: center;
}



.body{
    font-family: 'Arimo', sans-serif;
    
}
/* header style start here */
header {
    background-color: #ee2e24;
    font-family: 'Arimo', sans-serif;
    color: white;
    padding: 8px 0px;
}

header .latest{
    width: 30%;
    font-size: 18px;
}
ul{
   list-style: none;

}

a{
    text-decoration: none;
}

header .message{
    width: 70%;
}
/* header ends here */

/* nav starts here */

nav{
    background-color: #fff;
}

nav .logo{
    width: 30%;
}

nav .menu{
    width: 70%;
    background-color: #fff;
 
}

nav .menu ul {
    text-align: right;
}

nav .menu ul li {
    display: inline-block;
}

nav .menu ul li a{
    color: #444;
    font-family: 'Arimo', sans-serif;
    text-transform: capitalize;
    padding: 30px 25px;
    font-size: 16px;
    display: block;
    transition: 0.3s;
}

nav .menu ul li:hover a{
    color: red;
}

nav .menu ul li:last-child a{
    background-color: #ee2e24;
    color: white;
}

#banner img{
    width: 100%;
    display: block;
}

/* about starts here */

#about{
    padding: 40px;
    background-color: #fff;
}

 #about .about-img{
    width: 40%;             
}
#about .about-img img{
    width: 100%;
    display: block;
}
#about .about-text{
    width: 60%;
    padding: 0px 30px;
}

#about .about-text h2{
    font-family: 'Arimo', sans-serif;
    color: #5b6b80;
    font-size: 32px;
    display: inline-block;
    margin-bottom:  20px;
}

#about .about-text p{
    font-family: 'Arimo', sans-serif;
    color: #777;
    font-size: 16px;
    padding-top: 12px;
    line-height: 26px;
}
/* about ends here */


/* table starts here */

#seminar {
    background-color: #f5f5f5;
}

.card {
    margin: 10px 10px;
    padding: 55px 10px;
}


.card-header{
    background-color: #dddddda3;
    font-size: 32px;
    color: #444;;
    border-bottom: none;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    padding: 20px 15px;
    display: block;
}

.card-body{
    background-color: white;
    padding: 35px 20px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.table th{
    background-color: #49596d;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    border-right: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 50px;
    border-bottom: 1px solid #32383e;;
}

.table td{
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: #222;
    font-size: 16px;
    border: 1px solid #dee2e6;
    padding: 10px;
}

.table tr:nth-child(even) {
    background-color: #dddddda3;;
}

.table td a{
    text-decoration: none;
    display: block;
    background-color:  #49596d;
    color: #fff;
    font-size: 20px;
    padding: 10px 8px;
    margin: 0px 42px;
    border-radius: 5px;
    transition: 0.3s;
}

.table td:hover a{
    background-color: #ee2e24;
}
/* table ends here */

/* course starts */

.courses-head h2{
    font-family: 'Arimo', sans-serif;
    color: #5b6b80;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.courses-head p{
    font-family: 'Arimo', sans-serif;
    color: #777;
    font-size: 16px;
    font-weight: 400;
}




   

#course{
    padding: 40px 0;
}
.course_item{
    width: 49%;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.course_item .course_detail{
    
    width: 60%;
}

.course_item .course_img{
    width: 40%;
   
}
.course_item .course_img img{
    width: 100%;
    display: block;
}
.courses-head h2{

        padding-top: 10px;
        padding-bottom: 15px;
        color: #5b6b80;
    }
.courses-head p{
        padding-bottom: 40px;
}

.course_item .course_detail h3{
    font-size: 20px;
    font-weight: 500px;
    font-family: 'Arimo', sans-serif;
    padding: 20px 0 0 20px;
    color: #5b6b80;
}

.course_item .course_detail p{
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    line-height: 24px;
    padding: 20px 0 25px 20px;
}
.course_item .course_detail a{
    width: 180px;
    height: 50px;
    background-color:#49596d;
    display: block;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 0 25px 25px 0;
}

.course_item .course_detail a:hover{
    background-color: #e52c23;
    transition: 0.5s;
}
 /* course ends */

  /* image menu starts */
.image-head h2{
    font-family: 'Arimo', sans-serif;
    color: #5b6b80;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
}
.image-head h2{
        padding-top: 10px;
        padding-bottom: 15px;
        color: #5b6b80;
    }
.image-head p{
        padding-bottom: 40px;
}

.image-head p{
    font-family: 'Arimo', sans-serif;
    color: #777;
    font-size: 16px;
    font-weight: 400;
}

#gallary{
    padding: 50px 0;
    
}

.image img {
    width: 100%;
  }


.image {
    width: 32%;
    padding-right: 5px;
    padding-bottom: 5px;}

    /* image menu ends */

    /* contact starts */

.contact-head h2{
    font-family: 'Arimo', sans-serif;
    color: #5b6b80;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;}


.contact-head h2{

        padding-top: 10px;
        padding-bottom: 15px;
        color: #5b6b80;
    }
.contact-head p{
        padding-bottom: 40px;
}    
    
.contact-head p{
    font-family: 'Arimo', sans-serif;
    color: #777;
    font-size: 16px;
    font-weight: 400;
}
    
#contact{
    padding: 40px 0;
}
.form_input{
    width: 49%;
    margin-bottom: 20px;
    
}
.form_textarea textarea,
.form_input input{
    width: 100%;
    height: 40px;
    text-indent: 25px;
    border-radius: 5px;
    border: 0;
    border: 1px solid #ced4da;;
    color: #495057;
    
    
}
.form_textarea textarea:focus,
.form_input input:focus{
    outline: 0;
    box-shadow: 0 0 5px rgb(47, 130, 255);

}

.form_textarea{
    width: 100%;
    padding-bottom: 20px;
    
}

.form_textarea textarea{
    height: 100px;
}

#contact form button{
    color: white;
    width: 140px;
    height: 50px;
    background-color: #49596d;
    border-radius: 40px;
    border: none;
    margin: auto;
}

#contact form button:hover{
    background-color: red;
    transition: 0.5s;}

    /* contact ends */

    /* footer starts */

footer{

    padding: 40px;
    background-color: #f5f5f5;
   
}

.footer_logo{
    
    text-align: center;
    width: 33%;
    padding-top: 10px 0;
}

.footer_logo p{
    padding-top: 15px;
}


.footer_address
{
    
    width:33%;
}
.footer_contact
{
    
    width:33%;
}

.footer_address h3{
    color: #4e5e73;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    position: relative;
    padding-bottom: 30px;
}

.footer_address address{
    font-style: normal;
}
.footer_address h3:after {
    position: absolute;
    content: '';
    bottom: 20px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #ddd;}

.footer_address address{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.footer_contact h3{
    color: #4e5e73;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    position: relative;
    padding-bottom: 30px;
}

.footer_contact p a{
    font-size: 18px;
    color: #444;
}


.footer_contact p{
    padding: 10px 0;
    p
}


.footer_contact h3:after {
    position: absolute;
    content: '';
    bottom: 20px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #ddd;}
.footer_contact h5 a{
    color: #444;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
}

.footer_contact ul.social_icons li{
    display: inline-block;



}
.footer_contact ul.social_icons li span{

 width: 40px;
 height: 40px;
 border-radius: 50px;
 border: 1px solid #b8b8b8;
 color: #5c5c5c;
 margin: 0px 8px;
 display: block;
 text-align: center;
 line-height: 40px;
 transition: 0.5s;
}

.footer_contact ul.social_icons li span:hover{

    background-color: red;
    color: white;

}

.copyright .text p{
    text-align: center;
    display: block;
    font-weight: 100;
    padding: 40px

}


    /* footer ends */
